
:root {
    --background:  #F8F8FF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

body {
    background-image: url("landingpage pics/bg.jpg");
    display: grid;
    place-items: center;
    height: 100vh;
}

.gallery {
    display: flex;
    gap: 1rem;
    max-width: 80rem;
}

.card {
    position: relative;
    left: 0;
    width: 6rem;
    border-radius: 1.2rem;
    height: 20rem;
    overflow: hidden;
    background-color: var(--background);
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(255, 255, 255);
    flex: 0.25;
    position: relative;
    display: inline-block;
}

.card img {
    height: 20rem;
    object-fit: cover;
   
}

.card .name {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8); /* Adjust opacity as needed */
    text-align: center;
    padding: 10px;
    transition: opacity 0.5s ease; /* Add transition for opacity */
    opacity: 0; /* Initially hidden */

}

.card:hover .name {
    display: block;
    opacity: 1; /* Fade in when hovering */
}

.card:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
    
}
.card:not(:hover) .name {
    opacity: 0;
}

/* polish images center */
.card:nth-child(1) img {
    left: -8rem;
}

.card:nth-child(2) img {
    left: -6rem;
}

.card:nth-child(3) img {
    left: -14rem;
}

.card:nth-child(4) img {
    left: -8rem;
}
p{
    font-size: 30px;
}